:root {
    --blue: rgba(23, 37, 90, 1);
    --menu-font-family: "Alegreya-Bold", Helvetica;
    --menu-font-weight: 700;
    --menu-font-size: 25px;
    --menu-letter-spacing: 0px;
    --menu-line-height: 83px;
    --menu-font-style: normal;
    --variable-collection-green: rgba(8, 192, 118, 1);
    --variable-collection-pink: rgba(241, 171, 185, 1);
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.contact-section {
    background-color: #f1abb9;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-section h2 {
    font-size: 36px;
    color: var(--blue);
}

.contact-section p {
    font-size: 20px;
    color: var(--blue);
}

.success-message {
    background-color: var(--blue); /* Use the blue color variable */
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    display: none; /* Initially hide the success message */
    max-width: 800px;
}

.contact-section form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-section label {
    display: block;
    font-weight: 700;
    margin-top: 10px;
    color: var(--blue);
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.contact-section button {
    background-color: var(--variable-collection-green);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}

/*
.contact-section .success-message {
    max-width: 600px; 
    margin: 0 auto;
}
*/

.carousel-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1abb9;
    margin-bottom: 20px; /*remove*/
}
  
.carousel {
    width: 100%;
    margin: 0 auto;
}
  
.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .desktop {
        flex-direction: column;
    }
    #myCarousel {
        height: auto; 
    }
}

@media (max-width: 576px) {
    .desktop {
        padding: 10px;
    }
    #myCarousel {
        height: auto;
    }
    .p {
        font-size: 24px;
    }
}