* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.navbar {
    background: #17255A;
    color: #08C076;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    width: 100%;
    height: 200px;
}
.navbar img {
    width: 200px;
    height: 150px;
    margin-right: 20px;
}
.nav-links {
    display: flex;
    list-style: none;
}
.nav-links li {
    margin: 0 20px;
}
.nav-links li a {
    text-decoration: none;
    color: #08C076;
}
.nav-links li.active a {
    color: #FFFFFF;
}
header {
    background-color: #F1ABB9;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: 300px;
}
.header-content {
    margin-bottom: 10px;
    color: #17255A;
    text-align: center;
}
.header-content h2 {
    font-size: 2rem;
}
.line {
    width: 150px;
    height: 4px;
    background: #08C076;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.ctn {
    padding: 8px 15px;
    background: #08C076;
    border-radius: 30px;
    color: whitesmoke;
}
/* Events */
section {
    width: 100%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size: 4vmin;
    color: #17255A;
}
.row {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.row .col img {
    max-width: 100%;
}
.row .col h4 {
    font-size: 5vmin;
    color: #17255A;
    margin: 20px 0;
}
.row .col p {
    color: #17255A;
    padding: 0 20px;
    text-align: center;
}
.events .row {
    margin-top: 50px;
}
.events .ctn {
    margin-top: 30px;
    background-color: #F1ABB9;
}
.explore {
    width: 100%;
    height: 50vh;
    background: #F1ABB9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.explore-content {
    width: 100%;
    padding: 50px;
    color: #17255A;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.explore-content h1 {
    font-size: 7vmin;
    margin-bottom: 1px;
    text-align: center;
}
.explore-content .line {
    margin-bottom: 20px;
}
.explore-content p {
    color: #17255A;
}
.explore-content .ctn {
    margin-top: 30px;
}

.content-col {
    width: 50%;
    /*max-width: 500px;*/
}

/*.col.content-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}*/

.image-col {
    width: 50%;
}
.workshops .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    /*min-width: 700px;*/
}

.image-gallery img {
    max-width: 250px;
    margin: 10px;
}
.content-col h1 {
    font-size: 7vmin;
    color: #17255A;
    max-width: 500px;
    /*overflow: hidden;*/
}
.content-col .line {
    margin-left: 130px;
    margin: 0 auto;
    margin-top: 10px;
}
.content-col p {
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn {
    margin-left: 5px;
}
.footer {
    width: 100%;
    height: 200px;
    padding: 20px 80px;
    margin: 0;
    background: #17255A;
}

@media only screen and (max-width: 767px) {
    .navbar {
        padding: 10px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navbar img {
        margin-right: 0;
        margin-bottom: 10px;
        display: none;
    }

    .nav-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 10px;
        align-items: center;
        list-style: none;
    }

    header {
        /*padding: 20px;*/
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .header-content h1 {
        font-size: 1.5rem;
    }

    .resources, .explore, .workshops {
        width: 100%;
    }

    .row,
    .col {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .explore-content {
        width: 100%;
    }

    .explore-content h1 {
        font-size: 4vmin;
    }

    .workshops .image-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center; 
        width: 100%;
    }

    .workshops .image-gallery img {
        max-width: 100%; 
        margin: 10px;
    }

    .content-col,
    .image-col {
        width: 100%;
        align-items: center;
    }

    .content-col h1 {
        font-size: 5vmin;
        padding: 10px;
    }

    .content-col .line {
        margin: 0 auto;
    }

    .row .col p {
        padding: 10px;
    }

    .footer {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    header {
        /*padding: 30px;*/
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .header-content h1 {
        font-size: 2rem;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row .col h4 {
        font-size: 4vmin;
        margin: 10px 0;
    }

    .row .col p {
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .explore {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /*.explore-content {
        width: 50%;
    }*/

    .explore-content h1 {
        font-size: 5vmin;
    }

    .content-col {
        width: 50%;
    }

    .content-col h1 {
        font-size: 5vmin;
        padding: 20px 0;
        /*margin: 0 auto;*/
    }

    .content-col .line {
        margin: 0 auto 20px;
    }

    .content-col p {
        margin: 20px auto 40px;
        padding: 0 20px;
    }

    .image-col {
        width: 50%;
    }

    .workshops .image-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center; 
        width: 100%;
    }

    .workshops .image-gallery img {
        max-width: 100%; 
        margin: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        padding: 20px 80px;
    }

    .header-content h1 {
        font-size: 2rem;
    }

    .row .col h4 {
        font-size: 5vmin;
        text-align: center;
    }

    .row .col p {
        padding: 0 70px;
        text-align: center;
    }

    .content-col {
        width: 50%;
        align-items: center;
    }

    .image-col {
        width: 50%;
    }

    .image-gallery img {
        max-width: 250px;
        margin: 10px;
    }

    .content-col h1 {
        font-size: 5vmin;
        padding: 0;
        text-align: center;
        /*max-width: 500px;*/
    }

    .content-col p {
        margin: 30px auto;
        padding: 0;
    }
}
