.desktop {
    background-color: #f1abb9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.desktop .div {
    background-color: #f1abb9;
    overflow: hidden;
    width: 1440px;
    height: 1700px;
    position: relative;
}

.desktop .overlap-group {
    position: absolute;
    width: 1447px;
    height: 1226px;
    top: 0;
    left: 0;
}

.desktop .rectangle {
    position: absolute;
    width: 1440px;
    height: 665px;
    top: 0;
    left: 0;
}

.desktop .img {
    position: absolute;
    width: 611px;
    height: 452px;
    top: 53px;
    left: 0;
    object-fit: cover;
}

.desktop .rectangle-2 {
    position: absolute;
    width: 438px;
    height: 327px;
    top: 116px;
    left: 1002px;
    object-fit: cover;
}

.desktop .rectangle-3 {
    position: absolute;
    width: 709px;
    height: 516px;
    top: 710px;
    left: 0;
    object-fit: cover;
}

.desktop .our-story-empowering {
    position: absolute;
    width: 822px;
    top: 617px;
    left: 625px;
    font-family: "Alegreya-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 70px;
    text-align: center;
    letter-spacing: 0;
    line-height: 83px;
}

.desktop .text-wrapper {
    color: #17255a;
}

.desktop .span {
    color: #000000;
}

.desktop .text-wrapper-2 {
    color: #08c076;
}

.desktop .text-wrapper-3 {
    position: absolute;
    width: 106px;
    top: 18px;
    left: 638px;
    font-family: var(--menu-font-family);
    font-weight: var(--menu-font-weight);
    color: #08c076;
    font-size: var(--menu-font-size);
    text-align: center;
    letter-spacing: var(--menu-letter-spacing);
    line-height: var(--menu-line-height);
    white-space: nowrap;
    font-style: var(--menu-font-style);
}

.desktop .text-wrapper-4 {
    position: absolute;
    width: 106px;
    top: 18px;
    left: 768px;
    font-family: var(--menu-font-family);
    font-weight: var(--menu-font-weight);
    color: #08c076;
    font-size: var(--menu-font-size);
    text-align: center;
    letter-spacing: var(--menu-letter-spacing);
    line-height: var(--menu-line-height);
    white-space: nowrap;
    font-style: var(--menu-font-style);
}

.desktop .text-wrapper-5 {
    position: absolute;
    width: 156px;
    top: 18px;
    left: 912px;
    font-family: var(--menu-font-family);
    font-weight: var(--menu-font-weight);
    color: #08c076;
    font-size: var(--menu-font-size);
    text-align: center;
    letter-spacing: var(--menu-letter-spacing);
    line-height: var(--menu-line-height);
    white-space: nowrap;
    font-style: var(--menu-font-style);
}

.desktop .text-wrapper-6 {
    position: absolute;
    width: 156px;
    top: 18px;
    left: 1092px;
    font-family: var(--menu-font-family);
    font-weight: var(--menu-font-weight);
    color: #08c076;
    font-size: var(--menu-font-size);
    text-align: center;
    letter-spacing: var(--menu-letter-spacing);
    line-height: var(--menu-line-height);
    white-space: nowrap;
    font-style: var(--menu-font-style);
}

.desktop .text-wrapper-7 {
    position: absolute;
    width: 156px;
    top: 18px;
    left: 1272px;
    font-family: var(--menu-font-family);
    font-weight: var(--menu-font-weight);
    color: var(--variable-collection-green);
    font-size: var(--menu-font-size);
    text-align: center;
    letter-spacing: var(--menu-letter-spacing);
    line-height: var(--menu-line-height);
    white-space: nowrap;
    font-style: var(--menu-font-style);
}

.desktop .p {
    position: absolute;
    width: 657px;
    top: 826px;
    left: 739px;
    font-family: "IBM Plex Sans-Regular", Helvetica;
    font-weight: 400;
    color: var(--blue);
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: 37px;
}

.desktop .overlap {
    position: absolute;
    width: 1440px;
    height: 300px;
    top: 1400px;
    left: 0;
    background-image: url(./img/rectangle-2.png);
    background-size: 100% 100%;
}

.desktop .overlap-2 {
    position: absolute;
    width: 430px;
    height: 123px;
    top: 30px;
    left: 1010px;
}

.desktop .rectangle-4 {
    position: absolute;
    width: 171px;
    height: 123px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.desktop .rectangle-5 {
    position: absolute;
    width: 171px;
    height: 123px;
    top: 0;
    left: 124px;
    object-fit: cover;
}

.desktop .rectangle-6 {
    position: absolute;
    width: 171px;
    height: 123px;
    top: 0;
    left: 259px;
    object-fit: cover;
}

.desktop .ready-to-tech {
    position: absolute;
    width: 348px;
    top: 29px;
    left: 6px;
    font-family: "Alegreya-Bold", Helvetica;
    font-weight: 700;
    color: var(--variable-collection-pink);
    font-size: 70px;
    text-align: center;
    letter-spacing: 0;
    line-height: 83px;
}

.desktop .text-wrapper-8 {
    color: #f1abb9;
}

.desktop .overlap-3 {
    position: absolute;
    width: 491px;
    height: 59px;
    top: 213px;
    left: 949px;
}

.desktop .text-wrapper-9 {
    position: absolute;
    width: 271px;
    top: 0;
    left: 220px;
    font-family: "IBM Plex Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 83px;
    white-space: nowrap;
}

.desktop .text-wrapper-10 {
    position: absolute;
    width: 271px;
    top: 0;
    left: 0;
    font-family: "IBM Plex Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 83px;
    white-space: nowrap;
}

.desktop .text-wrapper-11 {
    position: absolute;
    width: 271px;
    top: 213px;
    left: 112px;
    font-family: "IBM Plex Sans-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 83px;
    white-space: nowrap;
}

.desktop .image {
    position: absolute;
    width: 54px;
    height: 39px;
    top: 234px;
    left: 32px;
    object-fit: cover;
}

.desktop {
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #f1abb9; 
    padding: 20px; 
}

.desktop .overlap-group {
    
    display: flex;
    flex-direction: row;
}

.desktop .text-wrapper-3,
.desktop .text-wrapper-4,
.desktop .text-wrapper-5,
.desktop .text-wrapper-6,
.desktop .text-wrapper-7 {
    cursor: pointer;
    width: 106px;
    height: 69px;
    font-family: var(--menu-font-family);
    font-weight: var(--menu-font-weight);
    color: #08c076; 
    font-size: var(--menu-font-size);
    text-align: center;
    letter-spacing: var(--menu-letter-spacing);
    line-height: var(--menu-line-height);
    white-space: nowrap;
    font-style: var(--menu-font-style);
    background-color: transparent; 
    border: none; 
    transition: all 0.3s ease;
    margin-left: 10px;
}

.desktop .text-wrapper-3:hover,
.desktop .text-wrapper-4:hover,
.desktop .text-wrapper-5:hover,
.desktop .text-wrapper-6:hover,
.desktop .text-wrapper-7:hover {
    color: #fff; 
}

.desktop .text-wrapper-3 a,
.desktop .text-wrapper-4 a,
.desktop .text-wrapper-5 a,
.desktop .text-wrapper-6 a,
.desktop .text-wrapper-7 a {
    text-decoration: none;
    color: inherit;
}
